/* Audio */


#myTune {
    display: none;
}

.playmusic-name,
.playmusic-artist {
    margin-left: 10px;
}

.tag-playmusic {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999998;
    background-color: black;
    border-top: 1px solid #6610f2;
}

.playmusic-info {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    float: left;
    margin-right: 1%;
}

.imgPlayMusic {
    display: block;
    width: 39%;
    float: left;
    overflow: hidden;
    height: 100%;
    margin-right: 1%;
    text-align: right;
}

.playmusic-info img {
    height: 100%;
    display: block;
}

.playmusic-info .textPlayMusic {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 60%;
    float: left;
}

.playmusic-info .textPlayMusic a {
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}

.playmusic-info .textPlayMusic a:hover {
    color: #f8f9fa;
}

#playButton .glyphicon-pause {
    display: none;
}

.playmusic-time {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 36%;
    float: left;
    margin: 0;
    margin-right: 1%;
}

#playmusic-start {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    color: #fff;
    width: 17%;
    float: left;
    margin-right: 1%;
    text-align: center;
}

#playmusic-process {
    height: 5px;
/*    borderborder: 1px solid #a00;*/
    display: inline-block;
    width: 63%;
    vertical-align: top;
    margin-top: 33px;
    float: left;
    margin-right: 1%;
}

#playmusic-end {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    color: #fff;
    width: 18%;
    float: left;
    text-align: center;
}

#playmusic-process {
    cursor: pointer;
}

#playmusic-process::-webkit-progress-bar {
    background: #eee;
}

#playmusic-process::-webkit-progress-value {
    background: #6610f2;

}

.playmusic-button {
    width: 37%;
    margin: 0;
    display: inline-block;
    float: left;
    height: 100%;
}

#playButton,
#pauseButton,
#loopButton,
#playmusic-prev,
#playmusic-next,
#volume {
    border: 0;
    font-size: 100%;
    padding: 2px 5px;
    background: transparent;
    color: #888;
    margin-top: 23px;
    vertical-align: top;
    outline: none;
    display: inline-block;
    text-align: center;
}

#playmusic-prev,
#playmusic-next {
    float: left;
    width: 12%;
    margin-left: 0;
    margin-right: 1%;
}

#playButton {
    font-size: 180%;
    color: #fff;
    margin-top: 14px;
    width: 15%;
    margin-right: 1%;
    float: left;
}

#loopButton {
    float: left;
    width: 12%;
    margin-right: 1%;
    display: inline-block;
}

#volume {
    margin-top: 0;
    color: #fff;
    font-size: 130%;
    height: 100%;
    display: inline-block;
    padding: 0;
    width: 45%;
    float: left;
    text-align: center;
}

#volumeButton {
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
    background: transparent;
    width: 29%;
    border: 0;
    float: left;
    margin-right: 1%;
    outline: none;
    color: aliceblue;
}

#volumeButton .glyphicon-volume-down,
#volumeButton .glyphicon-volume-off {
    display: none;
}

#volumeProBar {
    height: 5px;
    display: inline-block;
    vertical-align: top;
    margin-top: 31px;
    border: 0px;
    width: 62%;
    margin-right: 8%;
    cursor: pointer;
}

#volumeProBar::-webkit-progress-bar {
    background: #fff;
}


/* End Audio */